@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 25% 100%, 0 75%);
  background: linear-gradient(to right, rgba(8, 9, 10, 0.85), rgba(31, 41, 55, 0));
}

@media (max-width: 640px) {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 15% 100%, 0 85%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(31, 41, 55, 0));
  }
}

@media (min-width: 1280px) {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 30% 100%, 0 70%);
    background: linear-gradient(to right, rgba(6, 7, 8, 0.85), rgba(31, 41, 55, 0));
  }
}
